@charset "utf-8";
body {
	background-color: #E4E4E4;
    font-family: 'Ubuntu', sans-serif;
}
.nav {
	display: flex;
	justify-content: space-between;
}

.TopArea {
  display :flex;
  height: 200px;
}
.LeftTopArea {
  border :2px  solid;
  width:100%;
}
.RightTopArea {
  border :2px  solid;
   width:100%;
}
.BottomArea {
  border :2px  solid;
  height: 600px;
}
