@charset "utf-8";
body {
	background-color: #E4E4E4;
    font-family: 'Ubuntu', sans-serif;
	
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
	background-color: #333333;
	height:76px;
	padding-left: 40px;
	padding-right: 40px;
}
.timebar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
}
.timebar div {
	padding: 10px;
}
.logo {
	width: 100%;
	color:#FFFFFF;
	line-height:0px;
	text-align: left;
	letter-spacing: 3px;
    font-size: 40px;
}
.logo span {
	color:#D46041;
}

.Qundo {
	height: 30px;
	width:30px;
	opacity: 1;
	background-color: #D46041 ;
	border-radius: 50%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.Qundo > img {
	height:20px;
	
}
h1 {
	font-size: 20px;
	color:#FFFFFF;
}
.navbar {
	width: 100%;
	text-align: right;
}
.TopArea {
  display :flex;
  height: 200px;
}
.LeftTopArea {
  border :2px  solid;
  width:100%;
}
.RightTopArea {
  border :2px  solid;
   width:100%;
}
.BottomArea {
  border :2px  solid;
  height: 600px;
}
